/* (LOG IN PAGE) styles.css.....................................................*/
*{
    font-family: 'Barlow', sans-serif;
}
/* Navigation Bar */
body {
    background-color: #ffffff;
    margin: 0;
}

/* Color Setting for Nav */
#top {
    background-color:#2A456B;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    position: fixed;
}

/* nav */
.navtext {
    display:flex;
    position: absolute;
    left:0;
    flex-basis:10%;
    padding-right: 30px;
    flex-wrap:nowrap;
    justify-content: center;
    align-items: center;
}

/* remove decorated link and colours */
.navtext a {
    color:#f5f5f5;
    list-style-type: none;
    text-decoration: none;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 25px;
    padding-top: 20px;
    padding-bottom: 15px;
    
}

/* hover over effect */
.navtext a:hover {
    text-decoration: underline;
  }

/* logo */
.logo {
    display: flex;
    flex-basis: 80%;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo img {
    max-width: 40px;
    height: auto;
}

/* Reward page profile picture */
#rewardProfile {
    display: flex;
    flex-basis: 80%;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#rewardProfile img {
    max-width: 40px;
    height: auto;
    border-radius: 50%;
}

/*navigation icons */
.navicons {
    display:flex;
    position: absolute;
    right:0;
    flex-basis:10%;
    padding-top: 20px;
    padding-right: 30px;
    flex-wrap:nowrap;
    justify-content: center;
}

.navicons a {
    margin-right: 35px;
}

.navicons img {
    max-width: 20px;
    height: auto;
}

/* Welcome Introduction for login*/
#middle {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.navbackground {
    width:70%;
    height: 700px;
}

.navbackground img {
    object-fit: cover;
    width:100%;
    height: 770px;
}

/* Log In Form */

.loginText {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.loginText h1 {
    font-size: 30px;
    padding-top: 230px;
    padding-left: 60px;
    color:#2A456B
}

.logInUser {
    padding-top: 30px;
    padding-left: 60px;
}

.logInPass {
    padding-top: 30px;
    padding-left: 60px;
}

/* label is the text for 'username', 'password' */
label {
    display: block;
}

/* boxes for input */
.LogInFormBtn input {
    padding-left: 12px;
    margin-bottom: 15px;
    border-radius: 15px;
    border: none;
    width: 300px;
    background-color: #f5f5f5;
    height: 30px;
    outline: none;
    font-weight: 200;
}

/* Login button */
.LogInBtn {
    display: flex;
    justify-content: center;
    width: auto;
}

.LogInBtn input {
    color: #f5f5f5;
    font-weight: 600;
    background-color: #2A456B;
    border: none;
    border-radius: 20px;
    padding: 5px;
}

.LogInBtn input:hover {
    background-color: #D5B255;
}

.LogInBtn h1 {
    font-weight: 600;
}

/* Input button Decoration*/
.logInUser input {
    padding-left: 12px;
    margin-bottom: 15px;
    border-radius: 15px;
    border: none;
    width: 300px;
    background-color: #f5f5f5;
    height: 30px;
    outline: none;
    font-weight: 200;
}

.logInPass input {
    padding-left: 12px;
    margin-bottom: 15px;
    border-radius: 15px;
    border: none;
    width: 300px;
    background-color: #f5f5f5;
    height: 30px;
    outline: none;
    font-weight: 200;
}

/* Responsive for max-width: 768px */
@media screen and (max-width: 768px) {
    #top {
        height: 40px;
    }

    .navtext a {
        font-size: 12px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .navicons img {
        max-width: 12px;
        padding-bottom: 20px;
        }

    .loginForm h1 {
        font-size: 20px; 
        padding-top: 10px; 
        padding-left: 15px; 
    }

    form {
        padding: 10px; 
    }
}

/* (HOME PAGE) styles.css.....................................................*/
/* qna page */

.columnOnePadding {
    display: flex;
    padding-top: 60px;
}

/* For posts One & Two to be side by side */
.columnOne {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 5px;
}

/* Post Column One */
.postColumnOne {
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
}

/* Sketchfab content takes up full width of its container */
.postImage .sketchfab-embed-wrapper iframe {
    width: 98%;
    height: 400px;
    border-radius: 5px;
}

/* Profile Image */
.postProfile {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.profilePicPadding{
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-radius: 50%;
}

.postProfile img {
    width:48px;
    height:48px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
}

/* Adjust Post Icons */
.postIcons {
    display: flex;
    flex-direction: row;
}

.postIcons img {
    height: 20px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Adjust Texts */
.postProfile h1 {
    font-size: 20px;
    font-weight: 600;
    color: #2A456B;
}

.postComment h1 {
    font-size: 14px;
    font-weight: 300;
    color: #272727;
}

/* Responsive for max-width: 768px */
@media screen and (max-width: 900px) {
    /* Column One in Feed */
    .columnOne {
        flex-direction: column;
    }

    .postColumnOne {
        width: 100%;
        padding-left: 60px;
        padding-right: 60px;
    }

    .postProfile h1 {
        font-size: 18px;
    }
}

/* (COMMENT PAGE) styles.css.....................................................*/

/* Comment Section One*/
/* For CommentPicture & Comments to be side by side */
#commentPage {
    display: flex;
    flex-direction: row;
    padding-top: 66px;
    padding-left: 60px;
}

/* Posted Image */
#commentPicture {
    flex-direction: row;
    width: 1450px;
    padding-right: 80px;
}

/* Profile Image */
.commentPictureProfile {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.commentPictureProfilePadding {
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
} 

.commentPictureProfilePadding img {
    border-radius: 50%;
    width: 48px;
    aspect-ratio: 1/1;
} 

/* Sketchfab content takes up full width of its container */
.commentPictureImage .sketchfab-embed-wrapper iframe {
    width: 100%;
    height: 420px;
    border-radius: 1%;
}

/* Font for comment */
.commentPictureComment h1 {
    font-size: 15px;
    color: #272727;
    font-weight: 400;
}

/* Font for title */
.commentPictureProfile h1 {
    font-size: 22px;
    color: #2A456B;
    font-weight: 600;
}

/* Comment Section Two*/

/* Flexbox for Comment Section Two */
#commentSection {
    display: flex;
    flex-direction: column;
    padding-right: 60px;
}

#comment {
    display: flex;
    flex-direction: row;
    width: 500px;
    padding-top: 60px;
}

/*properties used for null comments for posts created by user */
.nullCommentProperty{
    font-size: medium;
    color:#2A456B;
    display: flex; 
    justify-content: center;
}

/* Comment Section Two: Profile Picture */
.commentImage img{
    width: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    border-radius: 50%;
}

/* Comment Section Two: Font for Username */
.commentDetails h1 {
    font-size: 18px;
    color: #2A456B;
    font-weight: 600;
    margin: 0;
}

/* Comment Section Two: Input Comment Box */
.commentDetails textarea {
    width: 400px;
    height: 60px;
    padding: 5px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    resize: none;
}

.commentDetails textarea:focus {
    border-color: #2A456B;
}

/* Comment Section Two: "Comment" */
.commentHeading h1 {
    font-size: 20px;
    color: #2A456B;
    font-weight: 600;
    padding-bottom: 10px;
}

/* Comment Area Section Two (Comm from other users)*/
.commentArea {
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
}

/* Comment Profile Details */
.areaProfile {
    display: flex;
    flex-direction: row;
}

.areaProfilePicPadding { /* Profile Pic */
    padding-right: 10px;
}

.areaProfilePicPadding img { /* Profile Pic */
    border-radius: 50%;
    height:32px; 
    width:32px;
}

.areaProfileName h1 { 
    font-size: 14px;
    color: #272727;
    font-weight: 600;
    margin: 0;  
    padding-top: 10px;
}

/* Comment Section Two Icons */
.areaProfileIcons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    margin-left: auto;
}

.areaProfileIcons img {
    width: 16px;
    height: 16px;
}

.areaProfileIcons h3 {
    font-size: 14px;
    color: #D5B255;
    font-weight: 600;
    margin: 0;
    padding-left: 8px;
}

/* Comment input area */
.areaDetails {
    width: 90%;
    padding-right: 20px;
    padding-top: 10px;
}

.areaDetails h1 {
    font-size: 13px;
    color: #272727;
    font-weight:bolder;
    margin: 0;  
    font-weight: 300;
}

.commentMessage {
    padding-left: 12px;
    margin: 0;
}

/* Responsive Styles */
@media only screen and (max-width: 850px) {
    #commentPage {
        display: none;
        flex-direction: column;
        width: 100%;
        padding-top: 60px;
        padding-left: 20px;
    }

    .commentSection {
        max-width: 100%;
        margin: auto;
    }
} 

/* (UPLOAD QNA PAGE) styles.css.....................................................*/
/* Heading "Posted to" */
#uploadPageQnA {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

.headingQnA {
    display: flex;
    padding-bottom: 20px;
}

.headingQnA h2 {
    font-size: 18px;
    font-weight: 500;
}

/* Common styles for both selectors */
.selectorQnA {
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectorQnA_QnA {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    color: #f9f9f9;
    background-color: #D5B255;
    padding: 5px 15px; 
    margin-right: 2%;
    margin-bottom: 2%;
    width: 610px;
}

.selectorQnA_Achi {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    color: #f9f9f9;
    background-color: #2A456B;
    padding: 5px 15px;
    margin-right: 2%;
    margin-bottom: 2%;
    width: 610px;
}

.selectorQnA_QnA a,
.selectorQnA_Achi a {
    font-size: 14px;
    color: #f5f5f5;
    text-decoration: none;
    margin: 0;
    font-weight: 600;
}

/* Selector */
.titleQnA {
    width: 1285px; 
}

.linkQnA {
    width: 1285px; 
    padding-top: 30px;
}

.captionQnA {
    width: 1285px; 
    padding-top: 30px;
}

/* Input BUtton */
.titleQnA input {
    padding-left: 12px;
    margin-bottom: 15px;
    border-radius: 15px;
    border: none;
    width: 1250px;
    background-color: #f5f5f5;
    height: 30px;
    outline: none;
    font-weight: 200;
}

.linkQnA input {
    padding-left: 12px;
    margin-bottom: 15px;
    border-radius: 15px;
    border: none;
    width: 1250px;
    background-color: #f5f5f5;
    height: 30px;
    outline: none;
    font-weight: 200;
}

.captionQnA input {
    padding-left: 12px;
    margin-bottom: 15px;
    border-radius: 15px;
    border: none;
    width: 1250px;
    background-color: #f5f5f5;
    height: 30px;
    outline: none;
    font-weight: 200;
}

/* Selector: POSTED Form */
.uploadPostBtn {
    border: none;
    border-radius: 8px;
    padding-top: 30px;
    padding-bottom:20px;
}

.uploadPostBtn input { /* Text */
    color: #f5f5f5;
    font-weight: 600;
    background-color: #2A456B;
    border-radius: 20px;
    padding: 5px;
}

.uploadPostBtn input[type="submit"] {
    font-weight: 600; /* Adjust the font weight as needed */
}

.uploadPostBtn input:hover {
    background-color: #D5B255;
}

@media screen and (max-width: 768px) {
    .selectorQnA {
        flex-direction: column; /* Stack items vertically on smaller screens */
    }

    .selectorQnA_QnA,
    .selectorQnA_Achi {
        width: 100%; /* Full width on smaller screens */
    }
}

/* (UPLOAD CHALLENGE PAGE) styles.css.....................................................*/
#uploadPageChallenge {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

/* 2 type of upload button */
.members {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

/* Heading "Posted to" */
.headingChallenge {
    display: flex;
    padding-bottom: 20px;
}

.headingChallenge h2 {
    font-size: 18px;
    font-weight: 500;
}

/* Common styles for both selectors */
.selectorChallenge {
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectorChallenge_QnA {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    color: #f9f9f9;
    background-color: #2A456B;
    padding: 5px 15px; 
    margin-right: 2%;
    margin-bottom: 2%;
    width: 610px;
}

.selectorChallenge_Challenge {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    color: #f9f9f9;
    background-color: #D5B255;
    padding: 5px 15px;
    margin-right: 2%;
    margin-bottom: 2%;
    width: 610px;
}

.selectorChallenge_QnA a,
.selectorChallenge_Challenge a {
    font-size: 14px;
    color: #f5f5f5;
    text-decoration: none;
    margin: 0;
    font-weight: 600;
}

/* Selector */
.titleChallenge {
    width: 1285px; 
}

.linkChallenge {
    width: 1285px; 
    padding-top: 30px;
}

.captionChallenge {
    width: 1285px; 
    padding-top: 30px;
}

.membersTotal {
    width: 580px; 
    padding-top: 30px;
}

.membersInvolved {
    width: 580px; 
    padding-top: 30px;
}

.dateChallenge {
    width: 580px; 
}

.levelChallenge {
    width: 580px; 
}

/* Date Level Container */
.dateLevel {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    border: none;
    padding-top: 40px;
}

/* Date Dropdown */
#level {
    padding: 8px;
    width: 100%;
    border-radius: 15px;
    font-size: 14px;
    flex: 1;
    border: none;
    background-color: #f5f5f5;
}

/* Input Button */
.titleChallenge input {
    padding-left: 12px;
    margin-bottom: 15px;
    border-radius: 15px;
    border: none;
    width: 1250px;
    background-color: #f5f5f5;
    height: 30px;
    outline: none;
    font-weight: 200;
}

.linkChallenge input {
    padding-left: 12px;
    margin-bottom: 15px;
    border-radius: 15px;
    border: none;
    width: 1250px;
    background-color: #f5f5f5;
    height: 30px;
    outline: none;
    font-weight: 200;
}

.captionChallenge textarea {
    padding-left: 12px;
    padding-top: 10px;
    margin-bottom: 15px;
    border-radius: 15px;
    border: none;
    width: 1250px;
    background-color: #f5f5f5;
    height: 100px;
    outline: none;
    font-weight: 200;
    resize:none;
}

.membersInvolved input {
    padding-left: 12px;
    margin-bottom: 15px;
    border-radius: 15px;
    border: none;
    width: 550px;
    background-color: #f5f5f5;
    height: 30px;
    outline: none;
    font-weight: 200;
}

.membersTotal input {
    padding-left: 12px;
    margin-bottom: 15px;
    border-radius: 15px;
    border: none;
    width: 550px;
    background-color: #f5f5f5;
    height: 30px;
    outline: none;
    font-weight: 200;
}

.dateChallenge input {
    padding-left: 12px;
    margin-bottom: 15px;
    border-radius: 15px;
    border: none;
    width: 550px;
    background-color: #f5f5f5;
    height: 30px;
    outline: none;
    font-weight: 200;
}

/* POST BUTTON */

input[type="submit"] {
    padding-right:8px;
    border: none;
    width: 128px; 
    font-weight: 100;
}

@media screen and (max-width: 768px) {
    .selectorAchi {
        flex-direction: column;
    }

    .selectorAchi_QnA,
    .selectorAchi_Achi {
        width: 100%;
    }

    .dateAchi,
    .levelAchi {
        width: 100%;
    }
}

/* (POSTED LOTTIE PAGE) styles.css.....................................................*/
.postedBG{
    background-color: #2A456B;
}

.joinedMain {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.joinedMain h1 {
    color: #f5f5f5;
}

/* joinedBody */
.joinedBody {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.joinedBody h3 {
    padding-top: 5px;
    color: #f5f5f5;
    font-weight: 300;
    font-size: 15px;
}

/* joinedButton */
.joinedBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 30px;
}

.joinedBtn1 {
    width: 20%;
    background-color: #f5f5f5;
    padding: 5px;
    border-radius: 12px;
}

.joinedBtn input[type="submit"] {
    font-weight: bold; 
}


.joinedBtn1:hover {
    background-color: #D5B255;
    color: #f5f5f5;
}

/* Lottie */
.joinedLottie {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 150px;
}

/* (REWARD PAGE) styles.css.....................................................*/
/* Points */
.point {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 60px;
    width: 100%;
}

.point h1 {
    color: #D5B255;
}

.pointSection {
    display: flex;
    justify-content: center;
    width: 100%;
    color: #D5B255;
    background-color: #ffffff;
    position: fixed;
    border-bottom: 2px solid #D5B255;
}

.rewardsPadding {
    padding-top: 120px;
}

.rewardsFeed {
    display: flex;
    flex-direction: column;
}

.rewards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 2px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 40px;
}

/* Column 1 */
.rewardsCol {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    padding-left: 20px;
    width: 100%;
}

.rewardsCol h1 {
    font-size: 20px;
    color: #2A456B;
}

.rewardsCol img {
    width: 100%;
}

/* Claim Button */
.colBtn {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
}

.colBtn .colBtn1 {
    width: 100%;
    padding: 5px;
    background-color: #2A456B;
    color: #f5f5f5;
    border-radius: 12px;
}

.colBtn1:hover {
    background-color: #D5B255;
    color: #f5f5f5;
}

.colBtn2 {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
}

.colBtn2 .colBtn1_2 {
    width: 100%;
    padding: 5px;
    background-color: grey;
    border-radius: 12px;
    color: #f5f5f5;
}

@media screen and (max-width: 900px) {
    .point {
        padding-top: 30px;
    }

    .point h1 {
        font-size: 20px;
    }

    /* Column One in Feed */
    .rewards {
        flex-direction: column;
    }

    .rewardsPadding {
        padding-top: 50px;
    }

    .rewardsCol h1 {
        font-size: 12px;
    }

    .colBtn, .colBtn2 {
        font-size: 8px;
        padding: 8px 8px;
    }
}

/* (CHALLENGE PAGE) styles.css.....................................................*/
.challengeColumnOne {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.challengePadding {
    padding-top: 80px;
}

/* Left Feed */
.leftFeed {
    width: 100%;
    padding-left: 60px;
}

/* Profile Image */
.leftFeedProfile {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.leftFeedProfile img {
    width: 40px;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}

/* Profile Image */
.leftFeedImage {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.leftFeedImage img {
    width: 100%;
    margin-right: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
}

/* Right Feed */
.rightFeedDetails {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.rightFeedSmallDetails {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

/* Adjust Texts */
.leftFeedProfile h2 {
    font-size: 18px;
    color:#2A456B;
}

.rightFeed {
    width: 100%;
    padding-left: 40px;
    padding-right: 80px;
    padding-top: 150px;
}

/* Adjust Texts */
.rightFeedDetails h1 {
    font-size: 20px;
    color: #2A456B;
    font-weight: 600;
}

.rightFeedDetails h2 {
    font-size: 16px;
    font-weight: 300;
}

.rightFeedSmallDetails h3 {
    font-size: 14px;
    font-weight: 500;
}

.rightFeedSmallDetails h4 {
    font-size: 10px;
    font-weight: 700;
}

/* Join Button */
.challengePostBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.challengePostBtn form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.challengePostBtn input {
    color: #f5f5f5;
    font-weight: 600;
    background-color: #2A456B;
    border: none;
    border-radius: 20px;
}

.challengePostBtn input:hover {
    background-color: #D5B255;
}

@media screen and (max-width: 900px) {
    .challengeColumnOne {
        flex-direction: column;
    }

    .rightFeed {
        padding-top: 20px;
        padding-left: 60px;
        padding-right: 60px;
    }

    .rightFeedDetails h2 {
        font-size: 11px;
    }

    .rightFeedDetails h1 {
        font-size: 16px;
    }

    .challengePadding {
        padding-top: 35px;
    }

    .leftFeedImage {
        width: auto;
    }

    .leftFeedProfile h2 {
        font-size: 16px;
    }
    
}

/* (CONTACT PAGE) styles.css.....................................................*/
.contactHeading {
    display: flex;
    flex-direction: row;
    padding-top: 100px;
    justify-content: center;
}

.contactHeading h1 {
    font-size: 30px;
    color: #2A456B;
}


/* Section1 */
.contactSection1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.emailPadding {
    display: flex;
    padding-bottom: 26px;
}

.contactEmail {
    display: flex;
    flex-direction: row;
    border: 1px solid #2A456B;
    color: #2A456B;
    width: 50%;
    height: 30px;
    margin: auto;
    border-radius: 5px;
}

.contactEmail h3 {
    font-size: 15px;
    font-weight: 300;
    margin: 5px;
    padding-left: 10px;
}

/* Section1 */
.contactPhone {
    display: flex;
    flex-direction: row;
}

.contactPhone {
    display: flex;
    flex-direction: row;
    border: 1px solid #2A456B;
    color: #2A456B;
    width: 50%;
    height: 30px;
    margin: auto;
    border-radius: 5px;
}

.contactPhone h3 {
    font-size: 15px;
    font-weight: 300;
    margin: 5px;
    padding-left: 10px;
}

/* contact form */
.contactQuestion {
    display: flex;
    flex-direction: row;
    padding-top: 25px;
    justify-content: center;
}

.contactQuestion h1 {
    font-size: 15px;
    color: #2A456B;
    font-weight: 600;
}

.contactEmail img {
    width: 15px;
    height: 15px;
    padding-top: 7px;
    padding-left: 9px;
}

.contactPhone img {
    width: 15px;
    height: 15px;
    padding-top: 7px;
    padding-left: 9px;
}

/* Form Name */
.questionName {
    display: flex;
    flex-direction: row;
    border: none;
    width: 50%; 
    margin: auto; 
    border-radius: 15px; 
    background-color: #f5f5f5;
    margin-top: 20px;
}

.questionName input {
    border: none;
    outline: none;
    padding: 1px;
    font-size: 14px; 
    background-color: transparent;
    font-weight: 300;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width:100%;
}

/* Form Email */
.questionEmail {
    display: flex;
    flex-direction: row;
    border: none;
    width: 50%; 
    margin: auto; 
    border-radius: 15px; 
    background-color: #f5f5f5;
}

.questionEmail input {
    border: none;
    outline: none;
    padding: 1px;
    font-size: 14px; 
    background-color: transparent;
    font-weight: 300;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width:100%;
}

.emailPadding {
    display: flex;
    padding-top: 26px;
}

/* Form Description */
.questionDescrip {
    display: flex;
    flex-direction: row;
    border: none;
    width: 50%; 
    margin: auto; 
    border-radius: 15px; 
    background-color: #f5f5f5;
}

.questionDescrip input {
    border: none;
    outline: none;
    padding: 1px;
    font-size: 14px; 
    background-color: transparent;
    font-weight: 300;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width:100%;

}

/* Button */
.contactPostBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.contactPostBtn form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactPostBtn input {
    color: #f5f5f5;
    font-weight: 600;
    background-color: #2A456B;
    border: none;
    border-radius: 20px;
    padding: 5px;
}

.contactPostBtn input:hover {
    background-color: #D5B255;
}


/* Responsive Styles */

@media (min-width: 576px) and (max-width: 767px) {
    .contactHeading {
        padding-top: 100px;
    }

    .contactEmail,
    .contactPhone,
    .questionName,
    .questionEmail,
    .questionDescrip {
        width: 70%;
    }
}

@media (max-width: 575px) {
    .contactHeading {
        padding-top: 80px;
    }

    .contactEmail,
    .contactPhone,
    .questionName,
    .questionEmail,
    .questionDescrip {
        width: 100%;
    }
}