/* (LOG IN PAGE) styles.css.....................................................*/
*{
    font-family: 'Barlow', sans-serif;
}
/* Navigation Bar */
body {
    background-color: #ffffff;
    margin: 0;
}

/* Color Setting for Nav */
#top {
    background-color:#2A456B;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    position: fixed;
}

/* nav */
.navtext {
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    flex-basis: 20%;
}

.navtext a {
    font-size: 18px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
    padding-bottom: 15px;
}

/* remove decorated link and colours */
.navtext a {
    color:#f5f5f5;
    list-style-type: none;
    text-decoration: none;
}

/* hover over effect */
.navtext a:hover {
    color: #D5B255;
  }

/* logo */
.logo {
    display: flex;
    flex-basis: 80%;
    justify-content: center;
}

/* icons */
.navicons {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-basis: 10%;
    padding-top: 15px;
    padding-bottom: 10px;
}

.navicons a {
    margin-right: 35px;
}

.navicons img {
    max-width: 20px;
    height: auto;
}

/* Welcome Introduction */
#middle {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.navbackground {
    width:70%;
    height: 700px;
}

.navbackground img {
    width:100%;
    height: 773px;
}

/* Log In Form */
.loginForm h1 {
    font-size: 30px;
    padding-top: 200px;
    padding-left: 30px;
}

form {
    padding: 30px;  
    width: 390px;
    margin: auto; 
}

/* label is the text for 'username', 'password' */
label {
    display: block;
}

/* boxes for input */
input {
    padding-left: 12px;
    margin-bottom: 15 px;
    border-radius: 15px;
    border: none;
    width: 100%;
    background-color: #f5f5f5;
    height: 30px;
    outline: none;
    font-weight: 650;
}

/* Login button */
.loginBtn {
    background-color: #D5B255;
    color: #f9f9f9; /* Color text for login */
    cursor: pointer;
    border: none;
    border-radius: 15px;
    width: 40px;
}

.loginBtn:hover {
    background-color: #2A456B;
}

/* Responsive for max-width: 768px */
@media screen and (max-width: 768px) {
    #top {
        height: 35px;
    }

    .navtext a {
        font-size: 12px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .navicons img {
        max-width: 12px;
        padding-bottom: 20px;
        }

    .loginForm h1 {
        font-size: 20px; 
        padding-top: 10px; 
        padding-left: 15px; 
    }

    form {
        padding: 10px; 
    }
}

/* (HOME PAGE) styles.css.....................................................*/
/* Feed */

/* For posts One & Two to be side by side */
#ColumnOne {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 60px;
}

/* Post Column One */
.postColumnOne {
    width: 100%;
    padding-left: 20px;
}

/* Sketchfab content takes up full width of its container */
.postImage .sketchfab-embed-wrapper iframe {
    width: 98%;
    height: 400px;
}

/* Profile Image */
.postProfile {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.postProfile img {
    width: 50px;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}

/* Adjust Post Icons */
.postIcons {
    display: flex;
    flex-direction: row;
}

.postIcons img {
    height: 20px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Adjust Texts */
.postProfile h1 {
    font-size: 20px;
}

.postComment h1 {
    font-size: 12px;
    color: #272727;
}

/* Responsive for max-width: 768px */
@media screen and (max-width: 900px) {
    /* Column One in Feed */
    #ColumnOne {
        flex-direction: column;
    }

    .postColumnOne {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .postProfile img {
        width: 30px;
        margin-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .postProfile h1 {
        font-size: 18px;
    }
}

/* (COMMENT PAGE) styles.css.....................................................*/

/* Comment Section One*/
/* For CommentPicture & Comments to be side by side */
#commentPage {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 60px;
    padding-left: 20px;
}

/* Posted Image */
.commentPicture {
    flex-direction: row;
    width: 1450px;
    padding-right: 80px;
}

/* Sketchfab content takes up full width of its container */
.commentPictureImage .sketchfab-embed-wrapper iframe {
    width: 100%;
    height: 550px;
}

/* Profile Image */
.commentPictureProfile {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.commentPictureProfile img {
    width: 50px;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
} 

/* Font for title */
.commentPictureProfile h1 {
    font-size: 22px;
    color: #272727;
}

/* Font for comment */
.commentPictureComment h1 {
    font-size: 15px;
    color: #272727;
}

/* Comment Section Two*/

/* Flexbox for Comment Section Two */
.commentSection {
    display: flex;
    flex-direction: column;
}

.comment {
    display: flex;
    flex-direction: row;
    width: 500px;
    padding-top: 60px;
}

/* Comment Section Two: Profile Picture */
.commentImage img{
    width: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
}

/* Comment Section Two: Font for Username */
.commentDetails h1 {
    font-size: 18px;
    color: #272727;
    font-weight:bolder;
    margin: 0;
}

/* Comment Section Two: Input Comment Box */
.commentDetails textarea {
    width: 100%;
    height: 60px;
    padding: 5px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    resize: none;
}

.commentDetails textarea:focus {
    border-color: #2A456B;
}

/* Comment Section Two: "Comment" */
.commentHeading {
    font-size: 11px;
    color: #272727;
    font-weight:bolder;
    margin: none;
}

/* Comment Area Section Two (Comm from other users)*/
.commentArea {
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
}

/* Comment Profile Details */
.areaProfile {
    display: flex;
    flex-direction: row;
}

.areaProfileName h1 { /* "Janet Cindy" */
    font-size: 14px;
    color: #272727;
    font-weight:bolder;
    margin: 0;  
    padding-top: 10px;
    padding-right: 220px;
}

.areaProfilePic img { /* Profile Pic */
    width: 40px;
    padding-right: 10px;
}

/* Comment Section Two Icons */
.areaProfileIcons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 10px;
}

.areaProfileIcons img {
    width: 16px;
    height: 16px;
    padding-left: 60px
}

.areaProfileIcons h3 {
    font-size: 14px;
    color: #D5B255;
    font-weight:bolder;
    margin: 0;
    padding-left: 8px;
}

/* Comment Texts */
.areaDetails {
    width: 90%;
    margin: none;
    padding-right: 20px;
    padding-top: 10px;
}

.areaDetails h1 {
    font-size: 13px;
    color: #272727;
    font-weight:bolder;
    margin: 0;  
    font-weight: 300;
}

ol {
    padding-left: 12px;
    margin: 0;
}

/* Responsive Styles */
@media only screen and (max-width: 850px) {
    #commentPage {
        display: none;
        flex-direction: column;
        width: 100%;
        padding-top: 60px;
        padding-left: 20px;
    }

    .commentSection {
        max-width: 100%;
        margin: auto;
    }
} 

/* (UPLOAD QNA PAGE) styles.css.....................................................*/
/* Heading "Posted to" */
#uploadPageQnA {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Make the container take up the full viewport height */
}

.headingQnA {
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center
}

.headingQnA h2 {
    font-size: 18px;
}

/* Selector */
.selectorQnA {
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
}

/* Selector: QnA */
.selectorQnA_QnA {
    display: flex;
    justify-content: space-between;
    flex-basis: 10%;
    border-radius: 8px;
    color: #f9f9f9;
    background-color: #D5B255;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 300px;
    padding-right: 300px;
    margin-right: 2%;
}

.selectorQnA_QnA a {
    font-size: 14px;
    color: #f5f5f5;
    text-decoration: none;
    margin: 0;
    font-weight: 600;
}

/* Selector: Achiever */
.selectorQnA_Achi {
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    color: #f9f9f9;
    background-color: #2A456B;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 300px;
    padding-right: 300px;
}

.selectorQnA_Achi a {
    font-size: 14px;
    font-weight: 600;
    color: #f5f5f5;
    text-decoration: none;
    margin: 0;
}

/* Selector: Uploads Sizing */
.titleQnA {
    width: 1285px; 
}

.linkQnA {
    width: 1285px; 
    padding-top: 30px;
}

.captionQnA {
    width: 1285px; 
    padding-top: 30px;
}

/* Selector: POSTED Form */
.uploadPostBtn {
    cursor: pointer;
    border: none;
    border-radius: 8px;
    padding: 8px;
}

.uploadPostBtn input { /* Text */
    color: #f5f5f5;
    font-weight: 600;
    background-color: #2A456B;
    margin: none;
    border-radius: 20px;
}

.uploadPostBtn input:hover {
    background-color: #D5B255;
}

/* (UPLOAD ACHI PAGE) styles.css.....................................................*/
/* Heading "Posted to" */
#uploadPageAchi {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Make the container take up the full viewport height */
    width: 80%;
}

.headingAchi {
    padding-top: 200px;
    padding-bottom: 20px;
    text-align: center
}

.headingAchi h2 {
    font-size: 18px;
}

/* Selector */
.selectorAchi {
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
}

/* Selector: QnA */
.selectorAchi_QnA {
    display: flex;
    justify-content: space-between;
    flex-basis: 10%;
    border-radius: 8px;
    color: #f9f9f9;
    background-color: #2A456B;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 300px;
    padding-right: 300px;
    margin-right: 2%;
}

.selectorAchi_QnA a {
    font-size: 14px;
    color: #f5f5f5;
    text-decoration: none;
    margin: 0;
    font-weight: 600;
}

/* Selector: Achiever */
.selectorAchi_Achi {
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    color: #f9f9f9;
    background-color: #D5B255;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 300px;
    padding-right: 300px;
}

.selectorAchi_Achi a {
    font-size: 14px;
    font-weight: 600;
    color: #f5f5f5;
    text-decoration: none;
    margin: 0;
}

/* Selector: Uploads Sizing */
.titleAchi {
    width: 1285px; 
}

.linkAchi {
    width: 1285px; 
    padding-top: 30px;
}

.playersAchi {
    width: 1285px; 
    padding-top: 30px;
}

.neededAchi {
    width: 1285px; 
    padding-top: 30px;
}

.deadlineAchi {
    width: auto; 
    padding-top: 30px;
}

/* Form */
form {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 1285px; 
}

input[type="submit"] {
    padding-right:8px;
    padding-left: 8px;
    border: none;
    width: 128px; 
    font-weight: 100;
}

/* (UPLOAD POSTED PAGE) styles.css.....................................................*/
.postedBG{
    background-color: #2A456B;
}

.joinedMain {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.joinedMain h1 {
    color: #f5f5f5;
}

/* joinedBody */
.joinedBody {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.joinedBody h3 {
    padding-top: 5px;
    color: #f5f5f5;
    font-weight: 300;
    font-size: 15px;
}

/* joinedButton */
.joinedBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 30px;
}

.joinedBtn1 {
    width: 20%;
    background-color: #f5f5f5;
}

.joinedBtn1:hover {
    background-color: #D5B255;
    color: #f5f5f5;
}

/* Lottie */
.joinedLottie {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 150px;
}

/* (REWARD PAGE) styles.css.....................................................*/
/* Points */
.point {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 60px;
    width: 100%;
}

.point h1 {
    color: #D5B255;
}

.pointSection {
    display: flex;
    justify-content: center;
    width: 100%;
    color: #D5B255;
    background-color: #ffffff;
    position: fixed;
    border-bottom: 2px solid #D5B255;
}

/* Challege Feed */
.challengeFeed {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* Column 1 */
.challengeCol {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 160px;
    width: 110%;
}

.challengeCol h1 {
    font-size: 20px;
    color: #2A456B;
}

.challengeCol img {
    width: 100%;
}

/* Claim Button */
.colBtn {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
}

.colBtn .colBtn1 {
    width: 100%;
    background-color: #D5B255;
    color: #f5f5f5;
}

.colBtn1:hover {
    background-color: grey;
    color: #f5f5f5;
}

/* (CHALLENGE PAGE) styles.css.....................................................*/
#challengeColumnOne {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 60px;
}

/* Left Feed */
.leftFeed {
    width: 100%;
    padding-left: 60px;
}

/* Profile Image */
.leftFeedProfile {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.leftFeedProfile img {
    width: 50px;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}

/* Profile Image */
.leftFeedImage {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.leftFeedImage img {
    width: 750px;
    margin-right: 20px;
    padding-bottom: 10px;
}

/* Right Feed */
.rightFeedDetails {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.rightFeedSmallDetails {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

/* Adjust Texts */
.leftFeedProfile h2 {
    font-size: 18px;
}

.rightFeed {
    width: 100%;
    padding-left: 40px;
    padding-right: 80px;
    padding-top: 180px;
}

/* Adjust Texts */
.rightFeedDetails h1 {
    font-size: 20px;
    color: #2A456B;
    font-weight: 600;
}

.rightFeedDetails h2 {
    font-size: 16px;
    font-weight: 300;
}

.rightFeedSmallDetails h3 {
    margin: none;
    font-size: 14px;
    font-weight: 500;
}

.rightFeedSmallDetails h4 {
    font-size: 10px;
    font-weight: 700;
}

/* Claim Button */
.challBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.challBtn form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.challBtn input {
    color: #f5f5f5;
    font-weight: 600;
    background-color: #2A456B;
    border: none;
    border-radius: 20px;
}

.challBtn input:hover {
    background-color: #D5B255;
}

/* Change color when button is clicked */
.challBtn input:active {
    background-color: grey;
}

/* (CONTACT PAGE) styles.css.....................................................*/
.contactHeading {
    display: flex;
    flex-direction: row;
    padding-top: 150px;
    justify-content: center;
}

.contactHeading h1 {
    font-size: 30px;
    color: #2A456B;
}


/* Section1 */
.contactSection1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.emailPadding {
    display: flex;
    padding-bottom: 15px;
}

.contactEmail {
    display: flex;
    flex-direction: row;
    border: 1px solid #2A456B; /* Adjust the thickness and color as needed */
    color: #2A456B;
    width: 50%;
    height: 30px;
    margin: auto;
    border-radius: 5px;
}

.contactEmail h3 {
    font-size: 15px;
    font-weight: 300;
    margin: 5px;
    padding-left: 40px;
}

/* Section1 */
.contactPhone {
    display: flex;
    flex-direction: row;
}

.contactPhone {
    display: flex;
    flex-direction: row;
    border: 1px solid #2A456B; /* Adjust the thickness and color as needed */
    color: #2A456B;
    width: 50%;
    height: 30px;
    margin: auto;
    border-radius: 5px;
}

.contactPhone h3 {
    font-size: 15px;
    font-weight: 300;
    margin: 5px;
    padding-left: 40px;
}

/* Section2 */
.contactQuestion {
    display: flex;
    flex-direction: row;
    padding-top: 25px;
    justify-content: center;
}

.contactQuestion h1 {
    font-size: 15px;
    color: #2A456B;
    font-weight: 700;
}

/* Form Name */
.questionName {
    display: flex;
    flex-direction: row;
    border: 1px solid #2A456B;
    width: 50%; 
    margin: auto; 
    border-radius: 5px; 
}

.questionName input {
    border: none;
    outline: none;
    padding: 1px;
    font-size: 14px; 
    background-color: transparent;
    font-weight: 300;
    padding-left: 10px;
}

/* Form Email */
.questionEmail {
    display: flex;
    flex-direction: row;
    border: 1px solid #2A456B;
    width: 50%; 
    margin: auto; 
    border-radius: 5px; 
}

.questionEmail input {
    border: none;
    outline: none;
    padding: 1px;
    font-size: 14px; 
    background-color: transparent;
    font-weight: 300;
    padding-left: 10px;
}

.emailPadding {
    display: flex;
    padding-top: 15px;
}

/* Form Description */
.questionDescrip {
    display: flex;
    flex-direction: row;
    border: 1px solid #2A456B;
    width: 50%; 
    margin: auto; 
    border-radius: 5px; 
}

.questionDescrip input {
    border: none;
    outline: none;
    padding: 1px;
    font-size: 14px; 
    background-color: transparent;
    font-weight: 300;
    padding-left: 10px;
}

/* Button */
.contactPostBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactPostBtn form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactPostBtn input {
    color: #f5f5f5;
    font-weight: 600;
    background-color: #2A456B;
    border: none;
    border-radius: 20px;
}

.contactPostBtn input:hover {
    background-color: #D5B255;
}


