/* (LOG IN PAGE) styles.css.....................................................*/

body {
    background-color: #ffffff;
}

/* Homepage Navigation Bar */
#top {
    background-color:#2A456B;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
}

/* nav */
.navtext {
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    flex-basis: 20%;
}

.navtext a {
    font-size: 18px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
    padding-bottom: 15px;
}

/* remove decorated link and colours */
.navtext a {
    color:#f5f5f5;
    list-style-type: none;
    text-decoration: none;
}

/* hover over effect */
.navtext a:hover {
    color: #D5B255;
  }

/* logo */
.logo {
    display: flex;
    flex-basis: 80%;
    justify-content: center;
}

.logo {
    font-size: 22px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* icons */
.navicons {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-basis: 10%;
}

.navicons {
    padding-top: 15px;
    padding-bottom: 10px;
}


.navicons img {
    max-width: 20%;
    height: auto;
    display: block;
    margin:0;
}

/* Homepage Welcome Introduction */

#middle {
    display: flex;
    flex-direction: row;
    width: 100%;
}


.navbackground img {
    width:100%;
    height: 700px;
}

/* Log In Form */

.loginForm h1 {
    font-size: 30px;
    padding-top: 200px;
    padding-left: 30px;
}

form {
    padding: 30px;
    width: 390px;
    margin: auto; 
}

/* label is the text for 'username', 'password' */
label {
    display: block;
}

/* boxes for input */
input {
    padding-left: 12px;
    margin-bottom: 15 px;
    border-radius: 15px;
    border: none;
    width: 100%;
    background-color: #f5f5f5;
    height: 30px;
    outline: none;
}

/* Login button */
input[type="submit"] {
    background-color: #D5B255;
    color: #f9f9f9; /* Color tect for login */
    cursor: pointer;
    border: none;
    border-radius: 15px;
}

input[type="submit"]:hover {
    background-color: #2A456B;
}


/* (Home PAGE) styles.css.....................................................*/
