/* (LOG IN PAGE) styles.css.....................................................*/
*{
    font-family: 'Barlow', sans-serif;
}
/* Navigation Bar */
body {
    background-color: #ffffff;
    margin: 0;
}

/* Color Setting for Nav */
#top {
    background-color:#2A456B;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    position: fixed;
}

/* nav */
.navtext {
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    flex-basis: 20%;
}

.navtext a {
    font-size: 18px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
    padding-bottom: 15px;
}

/* remove decorated link and colours */
.navtext a {
    color:#f5f5f5;
    list-style-type: none;
    text-decoration: none;
}

/* hover over effect */
.navtext a:hover {
    color: #D5B255;
  }

/* logo */
.logo {
    display: flex;
    flex-basis: 80%;
    justify-content: center;
}

/* icons */
.navicons {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-basis: 10%;
    padding-top: 15px;
    padding-bottom: 10px;
}

.navicons a {
    margin-right: 35px;
}

.navicons img {
    max-width: 20px;
    height: auto;
}

/* Welcome Introduction */
#middle {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.navbackground img {
    width:100%;
    height: 700px;
}

/* Log In Form */
.loginForm h1 {
    font-size: 30px;
    padding-top: 200px;
    padding-left: 30px;
}

form {
    padding: 30px;
    width: 390px;
    margin: auto; 
}

/* label is the text for 'username', 'password' */
label {
    display: block;
}

/* boxes for input */
input {
    padding-left: 12px;
    margin-bottom: 15 px;
    border-radius: 15px;
    border: none;
    width: 100%;
    background-color: #f5f5f5;
    height: 30px;
    outline: none;
}

/* Login button */
input[type="submit"] {
    background-color: #D5B255;
    color: #f9f9f9; /* Color text for login */
    cursor: pointer;
    border: none;
    border-radius: 15px;
}

input[type="submit"]:hover {
    background-color: #2A456B;
}

/* Responsive for max-width: 768px */
@media screen and (max-width: 768px) {
    #top {
        height: 35px;
    }

    .navtext a {
        font-size: 12px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .navicons img {
        max-width: 12px;
        padding-bottom: 20px;
        }

    .loginForm h1 {
        font-size: 20px; 
        padding-top: 10px; 
        padding-left: 15px; 
    }

    form {
        padding: 10px; 
    }
}

/* (HOME PAGE) styles.css.....................................................*/
/* Feed */

/* For posts One & Two to be side by side */
#ColumnOne {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 60px;
}

/* Post Column One */
.postColumnOne {
    width: 100%;
    padding-left: 20px;
}

/* Sketchfab content takes up full width of its container */
.postImage .sketchfab-embed-wrapper iframe {
    width: 98%;
    height: 400px;
}

/* Profile Image */
.postProfile {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.postProfile img {
    width: 50px;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}

/* Adjust Post Icons */
.postIcons {
    display: flex;
    flex-direction: row;
}

.postIcons img {
    height: 20px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Adjust Texts */
.postProfile h1 {
    font-size: 20px;
}

.postComment h1 {
    font-size: 12px;
    color: #272727;
}

/* Responsive for max-width: 768px */
@media screen and (max-width: 768px) {
    /* Column One in Feed */
    #ColumnOne {
        flex-direction: column;
    }

    .postColumnOne {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .postProfile img {
        width: 30px;
        margin-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .postProfile h1 {
        font-size: 18px;
    }
}

/* (COMMENT PAGE) styles.css.....................................................*/

/* For CommentPicture & Comments to be side by side */
#commentPage {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 60px;
    padding-left: 20px;
}

/* Posted Image */
.commentPicture {
    flex-direction: row;
    width: 900px;
    padding-right: 80px;
}

/* Sketchfab content takes up full width of its container */
.commentPictureImage .sketchfab-embed-wrapper iframe {
    width: 100%;
    height: 500px;
}

/* Profile Image */
.commentPictureProfile {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.commentPictureProfile img {
    width: 50px;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
} 

/* Font for title */
.commentPictureProfile h1 {
    font-size: 22px;
    color: #272727;
}

/* Font for comment */
.commentPictureComment h1 {
    font-size: 15px;
    color: #272727;
}

/* Comment Section One*/

/* Flexbox for Comment Section */
.commentSection {
    display: flex;
    flex-direction: column;
}

.comment {
    display: flex;
    flex-direction: row;
    width: 500px;
    padding-top: 60px;
}

/* Profile Picture */
.commentImage img{
    width: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
}

/* Font for title */
.commentDetails h1 {
    font-size: 18px;
    color: #272727;
    font-weight:bolder;
    margin: 0;
}

.commentDetails textarea {
    width: 100%;
    height: 60px;
    padding: 5px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    resize: none;
}

.commentDetails textarea:focus {
    border-color: #2A456B;
}

/* Comment Section Two*/
.commentHeading {
    font-size: 11px;
    color: #272727;
    font-weight:bolder;
    margin: 0;
}

/* Comment Area Section Two*/
.commentArea {
    display: flex;
    flex-direction: column;
}

/* Profile Details */
.areaProfile {
    display: flex;
    flex-direction: row;
}

.areaProfileName h1 {
    font-size: 12px;
    color: #272727;
    font-weight:bolder;
    margin: 0;  
    padding-top: 10px;
}

.areaProfilePic img {
    width: 40px;
    padding-right: 10px;
}

/* Comments by Area Section Two */
.areaDetails {
    width: 90%;
    margin: none;
    padding-right: 20px;
    padding-top: 10px;
}

.areaDetails h1 {
    font-size: 11px;
    color: #272727;
    font-weight:bolder;
    margin: 0;  
    font-weight: 300;

}